$textcolor: rgb(169, 55, 55);
$size: 2rem;
$primarycolor: rgb(0, 0, 99);
$secondcolor: lightblue;
$font-weights: (
   "regular":400,
   "medium":500,
   "bold":700
);
$strongcolor: pink;

$mycolors:(
   "c1":yellow,
   "c2":pink,
   "c3":blue
);

$mycolor: (
  "c1": red,
  "c2": blue,
  "c3": green,
);