* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column-reverse; 
}
 



p {
    font-size: 400px;
}



.box {
    margin: 1px;
}


