* {
    text-decoration: none;
}

.navbar {
    background: rgb(98, 98, 68);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 20px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 35px; 
    font-weight: 600;
    color: white;
}

li {
    list-style: none;
    display: inline-block;
}

li a{
color: white;
font-size: 12px;
font-weight: bold;
margin-right: 25px;
}

body {
    background-color: rgb(148, 148, 112);
}


